<!doctype html>
<html lang="en">
  <head>
    <title>Daily Portal</title>
  </head>

  <body>
    <h2>Current time</h2>
    {% for t in times %}
      <p>{{ t }}: {{ times[t] }}</p>
    {% endfor %}


    <h2>Weather forecast</h2>
      {% for city in forecasts %}
        <p>{{ city }}:</p>
        <ul>
          {% for f in forecasts[city] %}
            <li>
              {{ f.datehours }}<br>
              {{ f.main }},
              {{ f.description }},
              {{ f.icon }},
              {{ f.temp }}°C,
              {{ f.humidity }}%,
              {{ f.wind }},
              {{ f.clouds }}%
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
      <img src="/weather.png" />


    <h2>RATP info</h2>
      <p>Next train in Sceaux station: </p>
      <ul>
      {% for d in trains.directions %}
          <li>
          {{ d }}:
              {% if d == 'Charles-de-Gaulle. Mitry-Claye.' %}
                  {% for time1 in trains.passingtimes_dir1 %}
                      {{ time1 }}
                  {% endfor %}
              {% else %}
                  {% for time2 in trains.passingtimes_dir2 %}
                      {{ time2 }}
                  {% endfor %}
              {% endif %}
          </li>
      {% endfor %}
    </ul>
  </body>
</html>
