<!doctype html>
<html lang="en">
  <head>
    <title>Daily Portal</title>
  </head>

  <body>
    <h2>Current time</h2>
      <p>Paris: {{ ftime }} </p>
      <p>Tokyo: {{ jtime }} </p>
      <p>Montréal: {{ qtime }} </p>


    <h2>Weather</h2>
      <h3>Current weather</h3>
      <ul>
      {% for citydata in weatherdata %}
        <li>
        {{ citydata['Cityname'] }}:
            {% for key in citydata.keys() if key != 'Cityname' %}
                <ul>
                    <li>{{ key }} : {{ citydata[key] }}</li>
                </ul>
            {% endfor %}
        </li>
      {% endfor %}
      </ul>

      <h3>Weather forecast</h3>
      {% for city in wforecasts %}
        <p>{{ city }}:</p>
        <ul>
          {% for datetime in wforecasts[city] %}
            <li>
              {{ datetime }}<br>
              {{ wforecasts[city][datetime] }}
            </li>
          {% endfor %}
        </ul>
      {% endfor %}


      {# <p>Paris:</p>
      <ul>
        {% for p in p_forecast %}
          <li>{{ p }} : {{ p_forecast[p] }}</li>
        {% endfor %}
      </ul>
      <p>Tokyo:</p>
      <ul>
        {% for t in t_forecast %}
          <li>{{ t }} : {{ t_forecast[t] }}</li>
        {% endfor %}
      </ul>
      <p>Montréal:</p>
      <ul>
        {% for m in m_forecast %}
          <li>{{ m }} : {{ m_forecast[m] }}</li>
        {% endfor %}
      </ul> #}



    <h2>RATP info</h2>
      <p>Next train in Sceaux station: </p>
      {# <p>{{ horaire }}</p> #}

      {% set listindex = {} %}
      {% for t in ptimes if t == "Heure de passage" %}
            {% set _ = listindex.update({'index' : ptimes.index(t)}) %}
      {% endfor %}

      <ul>
      {% for d in dirs %}
          <li>
          {{ d }}:
              {% if d == 'Charles-de-Gaulle. Mitry-Claye.' %}
                  {% for times1 in ptimes[:listindex['index']] %}
                      {{ times1 }}
                  {% endfor %}
              {% else %}
                  {% for times2 in ptimes[listindex['index']+1:] %}
                      {{ times2 }}
                  {% endfor %}
              {% endif %}
          </li>
      {% endfor %}
      </ul>
  </body>
</html>
